<!DOCTYPE html>
<html>
  <head>
    <title>Validate</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>

  <body>
    <div class="validate">
    <h1>Validate Account</h1>
      <form method="post" action="{{ url_for('validate') }}">
        {% with messages = get_flashed_messages(category_filter=["OTP"]) %}
          {% if messages %}
            <ul class=flashes>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <label for="otp">One Time Passcode</label>
        <input type="number" name="otp" id="otp" required>
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
